$white: #FEFEFE;
$yellow: #ffed88;
$red: #ff6573;
$green: #6fc5a4;
$black: #283439;

$xsmall:    "only screen and (max-width : 480px)";
$small:     "only screen and (max-width : 768px)";
$medium:    "only screen and (max-width : 992px)";
$medium-up:    "only screen and (min-width : 992px)";
$large:     "only screen and (max-width : 1200px)";
$large-up:     "only screen and (min-width : 1200px)";
