$mobile:     "only screen and (min-width: 320px)";
$tablet:     "only screen and (min-width: 641px)";
$desktop:    "only screen and (min-width: 1025px)";
$desktop-lg: "only screen and (min-width: 1481px)";
