:root {
  // LAYOUT
  --containerWidth: 85vw;
  --containerWidthDesktop: 50vw;
  --containerWidthDesktopXL: 900px;
  // COLORS
  --black: #17202A;
  --darkGray: #566573;
  --gray: #DDD;
  --white: #FDFEFE;
  --darkBlue: #2874A6;
  --darkBlueAlt: #2874A6;
  --lightBlue: #3498DB;
  --chartStrokeColor: #BFC9CA;
  --chartLabelColor: #717D7E;
  // FONTS
  --fontFamily: 'Helvetica', 'Arial', sans-serif;
  // THEME
  --backgroundColor: var(--white);
  --textColor: var(--black);
  --linkColor: var(--darkBlue);
}
