/* Typography */
h1,
h2,
p {
  // Font minimum, preferred and maximum value
  font-size: clamp(var(--min), var(--val), var(--max));
}

// Font sizes
h1 {
  --min: 2em;
  --val: 5vw;
  --max: 3em;
  margin-bottom: 1.1em;
}
h2 {
  --min: 1.5em;
  --val: 4vw;
  --max: 2.25em;
}
p {
  --min: 1em;
  --val: 2.5vw;
  --max: 1.2em;
}
