// Critical CSS only
@import "./_root.scss";
@import "./_breakpoints.scss";

body {
  font-family: var(--fontFamily);
  color: var(--textColor);
  background-color: var(--backgroundColor);
  line-height: 1.2;
}

/* Typography */
h1,
h2,
h3,
p,
li {
  // Font minimum, preferred and maximum value
  font-size: clamp(var(--min), var(--val), var(--max));
}
h1,
h2,
h3 {
  font-weight: 300;
}
// Font sizes
h1 {
  --min: 2em;
  --val: 5vw;
  --max: 3em;
  margin-bottom: 1.1em;
}
h2 {
  --min: 1.25em;
  --val: 4vw;
  --max: 2em;
}
p, li {
  --min: 1em;
  --val: 2.5vw;
  --max: 1.2em;

  @media #{$tablet} {
    --min: 1em;
    --max: 1.2em;
  }
}

ul,
ol {
  margin-bottom: 2em;
}

li {
  margin-bottom: 0.75em;
}

a {
  display: inline-block;
  position: relative;
  color: var(--textColor);

}
sup {
  padding: 0 2px;
  font-size: 50%;
}

// Used to denote links opening in new tab
.u-NewTab {
  font-family: monospace;
  font-size: 75%;
}
// Link highlight
.u-Highlight {
  $self: &;
  --startColor: #fc5296 0%;
  --endColor: #f67062 74%;
  display: inline-block;
  position: relative;
  text-decoration: none;
  background: linear-gradient(315deg, var(--startColor), var(--endColor));
  background: -webkit-linear-gradient(315deg, var(--startColor), var(--endColor));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
    font-style: italic;
    &:before {
      opacity: 0;
    }
    &:focus,
    &:hover {
      &:after {
        transform: scaleX(0);
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    background: linear-gradient(315deg, var(--startColor), var(--endColor));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    opacity: 0.2;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background: linear-gradient(315deg, var(--startColor), var(--endColor));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:focus,
  &:hover {
    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &.purple {
    --startColor: #4062bb 0%;
    --endColor: #5200ae 74%;
  }
  &.red {
    --startColor: #861657 0%;
    --endColor: #aa4465 74%;
  }
  &.black {
    --startColor: #000000 0%;
    --endColor: #5e5368 74%;
  }
  &.blue {
    --startColor: #738bdc 0%;
    --endColor: #48c3eb 74%;
  }
}

/* Layout */
.l-Container {
  max-width: var(--containerWidth);
  margin: 1em auto;

  @media #{$desktop} {
    --containerWidth: var(--containerWidthDesktop);
  }
}

.c-Background {
  position: fixed;
  height: 70vh;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  z-index: -1;

  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 70vh;
    bottom: -30vh;
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
    transition: transform .5s, background 1s;
    background: linear-gradient(95deg, #FFF, rgba(136, 152, 170, 0.8));
    background-size: 800% 800%;
    z-index: -20;
  }
}
