// Critical CSS only
@import "./_root.scss";

$mobile:     "only screen and (min-width: 320px)";
$tablet:     "only screen and (min-width: 641px)";
$desktop:    "only screen and (min-width: 1025px)";
$desktop-lg: "only screen and (min-width: 1281px)";

body {
  font-family: var(--fontFamily);
  color: var(--textColor);
  background-color: var(--backgroundColor);
  line-height: 1.2;

  // @media #{$mobile} {
  //   background: green;
  // }
  // @media #{$tablet} {
  //   background: orange;
  // }
  // @media #{$desktop} {
  //   background: red;
  // }
  // @media #{$desktop-lg} {
  //   background: turquoise;
  // }
}

/* Typography */
h1,
h2,
p {
  // Font minimum, preferred and maximum value
  font-size: clamp(var(--min), var(--val), var(--max));
}

// Font sizes
h1 {
  --min: 2em;
  --val: 5vw;
  --max: 3em;
  margin-bottom: 1.1em;
}
h2 {
  --min: 1.2em;
  --val: 4vw;
  --max: 2em;
}
p {
  --min: 1em;
  --val: 2.5vw;
  --max: 1.2em;
}

a {
  color: var(--textColor);

  &:hover {
    color: var(--darkBlueAlt);
  }

  &:visited {
    color: var(--lightBlue);
  }
}

/* Layout */
.l-Container {
  max-width: var(--containerWidth);
  margin: 1em auto;

  @media #{$desktop} {
    --containerWidth: 60vw;
  }
}
