// Critical CSS only
@import "./_root.scss";
@import "./_typography.scss";

$mobile:     "only screen and (min-width: 320px)";
$tablet:     "only screen and (min-width: 641px)";
$desktop:    "only screen and (min-width: 1025px)";
$desktop-lg: "only screen and (min-width: 1281px)";

body {
  font-family: var(--fontFamily);
  color: var(--textColor);
  background-color: var(--backgroundColor);
  line-height: 1.2;

  // @media #{$mobile} {
  //   background: green;
  // }
  // @media #{$tablet} {
  //   background: orange;
  // }
  // @media #{$desktop} {
  //   background: red;
  // }
  // @media #{$desktop-lg} {
  //   background: turquoise;
  // }
}

/* Layout */

.l-Container {
  max-width: var(--containerWidth);
  margin: 1em auto;

  @media #{$desktop} {
    --containerWidth: 60vw;
  }
}
