.c-Chart {
  position: relative;
  width: 100vw;
}

.ct-series-a .ct-point {
  stroke: var(--chartStrokeColor)!important;
  stroke-width: 4px;
}
.ct-series-a .ct-line {
  stroke: var(--chartStrokeColor)!important;
  stroke-width: 2px;
}
.ct-label {
  fill: var(--chartLabelColor)!important;
  &:hover {
    cursor: default;
  }
}
