@import url('https://rsms.me/inter/inter.css');
@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  /* For carousel gradient masking */
  --gradient-color: var(--color-zinc-50);
  --text-color: var(--color-zinc-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gradient-color: var(--color-black);
    --text-color: var(--color-zinc-500);
  }
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --font-sans: 'Inter var', sans-serif; 
  --header-position: sticky;
  --content-offset: 116px;
  --header-height: 180px;
  --header-mb: -116px;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.prose p {
  margin-bottom: 2em;
}

.prose h2 {
  font-size: var(--text-2xl);
  font-weight: bold;
  margin-bottom: 1em;
}

.prose h3 {
  font-size: var(--text-xl);
  font-weight: bold;
  margin-bottom: 1em;
}

hr {
  --startColor: #726cf8 0%;
  --endColor: #e975a8 74%;
  height: 4px;
  border-width: 0;
  border-radius: 3px;
  margin: 4em auto;
  color: gray;
  background: -webkit-linear-gradient(315deg, var(--startColor), var(--endColor));
  width: 150px;
}

code,
pre,
code > p{
  background: var(--black);
  color: var(--white);
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 0;
}
pre,
code > p {
  padding: .1rem .3rem .2rem;
}

blockquote {
  border-left-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #4062bb, #E975A8 ) 10 0 10 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: var(--gradient-color);
  margin-left: 0.5em;
  padding: 2em 1.5em;
}

.prose blockquote p {
    font-style: italic;
    margin-bottom: 0;
}

blockquote p:before {
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p:after {
  content: close-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.u-ImageDescription {
  margin-top: -24px;
  color: var(--text-color);
}