@import "./_breakpoints.scss";

.l-Header {
  max-width: var(--containerWidth);
  margin: 1em auto;

  &__nav {
    a {
      display: inline-flex;
      font-size: 1.4em;
      line-height: 1.6em;

      .u-NewTab {
        font-family: monospace;
        font-size: 100%;
      }
    }
  }

  @media #{$desktop} {
    --containerWidth: var(--containerWidthDesktop);
  }
}
