@import "./_breakpoints.scss";

.c-Post {
  margin: 2em 0;
  padding-bottom: 4em;

  &__title {
    --startColor: #726cf8 0%;
    --endColor: #e975a8 74%;
    background: linear-gradient(315deg, var(--startColor), var(--endColor));
    background: -webkit-linear-gradient(315deg, var(--startColor), var(--endColor));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__summary {
    --min: 1.4em;
    --max: 1.6em;
    margin-top: 1em;
  }

  time {
    color: var(--darkGray);
  }

  h1 {
    --min: 2.5em;
    --val: 5vw;
    --max: 3.5em;
    font-weight: bold;
    margin-bottom: 0;
    &.margin {
      margin-bottom: 1em;
    }
  }

  h2 {
    --min: 1.8em;
    --val: 4vw;
    --max: 2.6em;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
  }

  h3 {
    --min: 1.4em;
    --val: 4vw;
    --max: 2em;
    font-weight: normal;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
  }

  li {
    line-height: 1.4em;
    --min: 1.2em;
    --val: 2.5vw;
    --max: 1.4em;

    @media #{$tablet} {
      --min: 1em;
      --max: 1.2em;
    }
  }

  p {
    margin-bottom: 1em;
    line-height: 1.4em;
    --min: 1.2em;
    --val: 2.5vw;
    --max: 1.4em;

    @media #{$tablet} {
      --min: 1em;
      --max: 1.2em;
    }

    &.u-ImageDescription, .description {
      margin-top: -3.2em;
      margin-bottom: 2.6em;
      padding-left: .5em;
      font-size: 100%;
      color: var(--darkGray);
      text-align: center;
    }
  }

  hr {
    --startColor: #726cf8 0%;
    --endColor: #e975a8 74%;
    height: 4px;
    border-width: 0;
    border-radius: 3px;
    margin: 4em auto;
    color: gray;
    background: -webkit-linear-gradient(315deg, var(--startColor), var(--endColor));
    width: 150px;
  }

  section {
    position: relative;
    margin: 4em auto;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    &:before {
      --startColor: #726cf8 0%;
      --endColor: #e975a8 74%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 4px;
      border-width: 0;
      border-radius: 3px;
      color: gray;
      background: -webkit-linear-gradient(315deg, var(--startColor), var(--endColor));
      height: 100%;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  img {
    margin: 4em auto;
    border-radius: 24px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}
