.c-Post {
  margin: 2em 0;

  &__title {
    --startColor: #726cf8 0%;
    --endColor: #e975a8 74%;
    background: linear-gradient(315deg, var(--startColor), var(--endColor));
    background: -webkit-linear-gradient(315deg, var(--startColor), var(--endColor));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__summary {
    font-size: 120%;
    margin-top: 1em;
  }

  time {
    color: var(--darkGray);
  }

  h1 {
    --min: 2.5em;
    --val: 5vw;
    --max: 3.5em;
    font-weight: bold;
    margin-bottom: 0;
    &.margin {
      margin-bottom: 1em;
    }
  }

  h2 {
    --min: 1.6em;
    --val: 4vw;
    --max: 2.6em;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.4em;

    &.u-ImageDescription {
      margin-top: -2.4em;
      margin-bottom: 2.6em;
      padding-left: .5em;
      font-size: 100%;
      color: var(--darkGray);
      text-align: center;
    }
  }

  hr {
    --startColor: #726cf8 0%;
    --endColor: #e975a8 74%;
    height: 4px;
    border-width: 0;
    color: gray;
    background: -webkit-linear-gradient(315deg, var(--startColor), var(--endColor));
    margin: 2em auto;
    width: 150px;
    border-radius: 3px;
  }

  img {
    margin: 2.6em 0;
    border-radius: 24px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}
