@import "./_breakpoints.scss";

.c-Timeline {
  --min: 1.4em;
  --val: 2.5vw;
  --max: 1.6em;
  --loaderHeight: 400px;
  $parent: &;
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  margin-bottom: 0;

  &__wrapper {
    position: relative;
    min-height: 40vh;
    padding: 0 0 3em 0;

    .u-Highlight {
      font-size: 1.1em;
      line-height: 1.6em;
    }
  }

  &__container {
    position: relative;
    display: block;
    padding: 0;
    min-height: 8em;
    margin: 0;

    @media #{$tablet} {
      min-height: 5em;
    }

    &:first-child {
      padding-bottom: 0rem;
      &:before {
        display: none;
      }
    }
    &:first-of-type {
      #{$parent}__item {
        display: inline-block;
      }
    }

    &:before {
      position: absolute;
      top: 3px;
      left: 0;
      content: '';
      display: block;
      width: 2px;
      height: 100%;
      background: var(--gray);
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 2px;
      left: -6px;
      width: 14px;
      height: 14px;
      background: var(--gray);
      border: 2px solid var(--white);
      border-radius: 50%;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1rem;
    margin-top: -4px;

    &.mb-2 {
      margin-bottom: 2em;
    }
  }
  &__itemTitle {
    --min: 1.2em;
    --val: 2.5vw;
    --max: 1.4em;
    font-size: clamp(var(--min), var(--val), var(--max));
    text-decoration-color: var(--darkGray);
  }
  &__details {
    margin-top: 0.25em;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__tag {
    --startColor: #fc5296 0%;
    --endColor: #f67062 74%;
    letter-spacing: 2px; 
    font-size: .5rem;
    text-transform: uppercase;
    margin-right: 0.8em;
    border-radius: 4px;
    padding: 2px 6px;
    background: linear-gradient(315deg, var(--startColor), var(--endColor));
    background: -webkit-linear-gradient(315deg, var(--startColor), var(--endColor));

    // &.work {
    //   --startColor: #fc5296 0%;
    //   --endColor: #f67062 74%;
    // }
    &.personal {
      --startColor: #15db95 0%;
      --endColor: #48c3eb 74%;
    }
    &.work {
      color: var(--white);
      --startColor: #861657 0%;
      --endColor: #aa4465 74%;
    }
    &.black {
      --startColor: #000000 0%;
      --endColor: #5e5368 74%;
    }
  }
  &__period {
    font-size: .9rem;
    color: var(--darkGray);
  }
  &__itemDate {
    font-size: .8rem;
    color: var(--darkGray);
  }
  &__description {
    font-size: 1rem;
    margin: .5rem 0 1rem;
  }
  &__imageWrapper {
    margin: 1em 0 2em 0;

    &.is-loading {
      position: relative;
      width: 100%;
      height: var(--loaderHeight);

      &:before {
        content: '';
        position: absolute;
        left: 0;
        background: #EEE;
        border-radius: 2px;
        height: var(--loaderHeight);
        width: 100%;
        animation: loading 1.5s infinite;
      }
    }
  }
  &__image {
    border: 2px solid var(--gray);
    border-radius: 2px;
    width: 100%;
    height: auto;
  }
}
@keyframes loading {
  0% { background: #DDD; }
  50% { background: #FAFAFA; }
  100% { background: #DDD; }
}
