@import "./_breakpoints.scss";

.c-Timeline {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 0 3em 0;
  --min: 1.4em;
  --val: 2.5vw;
  --max: 1.6em;

  &__wrapper {
    position: relative;
    min-height: 40vh;
  }

  &__container {
    position: relative;
    display: block;
    padding: 0;
    min-height: 8em;
    margin: 0;

    @media #{$tablet} {
      min-height: 5em;
    }

    &:first-child {
      padding-bottom: 0rem;
      &:before {
        display: none;
      }
    }

    &:before {
      position: absolute;
      top: 3px;
      left: 0;
      content: '';
      display: block;
      width: 2px;
      height: 100%;
      background: var(--darkGray);
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 2px;
      left: -6px;
      width: 14px;
      height: 14px;
      background: var(--darkGray);
      border: 2px solid var(--white);
      border-radius: 50%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1rem;
    margin-top: -4px;
  }

  &__itemTitle {
    --min: 1.2em;
    --val: 2.5vw;
    --max: 1.4em;
    font-size: clamp(var(--min), var(--val), var(--max));
    text-decoration-color: var(--darkBlue);
    font-weight: 300;
  }
  &__itemDate {
    font-size: .8rem;
  }
  &__description {
    font-size: 1rem;
    margin: .5rem 0 1rem;
  }
}
