---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/home/Intro.astro';
import ExtraStuff from '../components/home/ExtraStuff.astro';
import FeaturedMedia from '../components/home/FeaturedMedia.vue';
---

<Layout>
  <Intro />
  <div class="block h-116">
    <div class="contents relative mt-12">
      <div class="absolute w-full left-0">
        <FeaturedMedia client:idle />
      </div>
    </div>
  </div>
  <ExtraStuff />
</Layout>
