---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import FeaturedMedia from '../components/FeaturedMedia.vue';
---

<Layout>
  <Intro />
  <div class="block h-116">
    <div class="contents relative mt-12">
      <div class="absolute w-full left-0">
        <FeaturedMedia client:idle />
      </div>
    </div>
  </div>
</Layout>
