---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="mt-8 mb-16">
    <h1 class="text-3xl font-bold text-zinc-900 dark:text-zinc-100">Values</h1>
    <p class="text-base text-zinc-900 dark:text-zinc-100">
      Statements I live by.
    </p>
  </div>
  <div>
    <blockquote
      class="text-xl italic font-semibold text-gray-900 dark:text-white bg-transparent"
    >
      <div class="mb-16">
        <p class="mb-2">
          The world is mine to shape in the image of my highest values and never
          to be given up to a lesser standard, no matter how long or hard the
          struggle.
        </p>
        <small>- Dagny Taggart</small>
      </div>
      <div class="mb-16">
        <p class="mb-2">You become what you give your attention to.</p>
        <small>- Epictetus</small>
      </div>
      <div class="mb-16">
        <p class="mb-2">Greatness and happiness are in the agency of others.</p>
        <small>- Scott Galloway</small>
      </div>
    </blockquote>
  </div>
</Layout>
