<div>
  <div class="md:flex flex-1 items-center space-between mt-8 lg:mt-16">
    <div class="contents">
      <img
        alt=""
        fetchpriority="high"
        width="512"
        height="512"
        decoding="async"
        data-nimg="1"
        class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-28 w-28"
        style="color:transparent"
        sizes="4rem"
        src="/law_square.png"
      />
    </div>
    <div class="mt-4 md:ml-6 md:mt-0">
      <h1
        class="text-4xl font-semibold text-zinc-900 dark:text-white mb-2 md:mb-2"
      >
        Lawrence B. Almeida
      </h1>
      <h2 class="text-xl text-zinc-900 dark:text-white">
        <span class="text-zinc-600 dark:text-zinc-400">Tinkering with</span>
        <span class="font-bold">tech</span>
        <span class="text-zinc-600 dark:text-zinc-400">and</span>
        <span class="font-bold">thoughts</span>
      </h2>
    </div>
  </div>
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="max-w-2xl">
      <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        I'm Lawrence, a <span class="font-semibold dark:text-zinc-300"
          >technologist</span
        >
        based in Lisbon, Portugal.
        <br />
        <br />
        I'm passionate about the intersection of <span
          class="font-semibold dark:text-zinc-300">media consumption</span
        >, our <span class="font-semibold dark:text-zinc-300"
          >relationship with technology</span
        > and the
        <span class="font-semibold dark:text-zinc-300"
          >perception on reality</span
        >.
        <br />
        <br />
        Professionally I'm a <span class="font-semibold dark:text-zinc-300"
          >product engineer</span
        > and <span class="font-semibold dark:text-zinc-300"
          >engineering manager</span
        >. On my free time I enjoy being with <span
          class="font-semibold dark:text-zinc-300">my partner</span
        >,
        <span class="font-semibold dark:text-zinc-300">reading</span>, working
        on <span class="font-semibold dark:text-zinc-300">side projects</span> and
        spend time in <span class="font-semibold dark:text-zinc-300"
          >nature</span
        >.
      </p>
    </div>
    <div class="mt-6 flex gap-6">
      <a
        class="group -m-1 p-1"
        aria-label="Connect on Mastodon"
        title="Connect on Mastodon"
        href="https://mastodon.social/@mstrlaw"
        target="_blank"
      >
        <img
          src="/icons/mastodon.svg"
          alt="Mastodon"
          class="dark:invert h-5 w-5"
        />
      </a>
      <a
        class="group -m-1 p-1"
        aria-label="Connect on Bluesky"
        title="Connect on Bluesky"
        href="https://mstrlaw.bsky.social"
        target="_blank"
      >
        <img
          src="/icons/bluesky.svg"
          alt="Bluesky"
          class="dark:invert h-5 w-5"
        />
      </a>
      <a
        class="group -m-1 p-1"
        aria-label="Connect on LinkedIn"
        title="Connect on LinkedIn"
        href="https://www.linkedin.com/in/lawrencebraun/"
        target="_blank"
      >
        <img
          src="/icons/linkedin.svg"
          alt="LinkedIn"
          class="dark:invert h-5 w-5"
        />
      </a>
    </div>
  </div>
</div>
