<footer class="l-Footer">
  <p class="l-Footer__info">
    <span class="c-Tooltip">
      <span class="c-Tooltip__text">
        Screen time for the past 7 days.
      </span>
      <strong></strong>Screen Time: <span id="screenTime"></span>
    </span>
    <span class="c-Tooltip">
      <span class="c-Tooltip__text">
        Time taken to load this page.
      </span>
      <strong>&nbsp;•&nbsp;</strong>Load Time: <span id="loadTime"></span>
    </span>
    <span>
      <strong>&nbsp;•&nbsp;</strong>© Lawrence B. Almeida <span id="currentYear"></span>
    </span>
  </p>
</footer>
