<footer class="l-Footer">
  <p>
    <strong>•&nbsp;</strong> Load Time <span id="loadTime"></span><strong>&nbsp;•</strong>
  </p>
  {{!-- <p>Generated with {{ generator }} &mdash; <a href="{{ url }}">{{ url }}</a></p> --}}
</footer>
