<footer class="l-Footer">
  <p class="l-Footer__info">
    <span>
      <strong>&nbsp;•&nbsp;</strong>Screen Time: <span id="screenTime"></span>
    </span>
    <span>
      <strong>&nbsp;•&nbsp;</strong>Load Time: <span id="loadTime"></span>
    </span>
    <span>
      <strong>&nbsp;•&nbsp;</strong>Copyright Lawrence B. Almeida © <span id="currentYear"></span>
    </span>
  </p>
</footer>
