<header class="l-Header">
  <nav class="l-Header__nav">
    <a id="navigateBack" href="#" class="u-Highlight black" title="Navigate back to homepage">
      <span class="u-NewTab">&#8592;</span>&nbsp;mstrlaw
    </a>
  </nav>
</header>
