<header class="l-Header">
  <nav class="l-Header__nav">
    <a href="/" class="u-Highlight" title="Navigate back to homepage">mstrlaw</a>
    <span>/</span>
    <a href="/posts" class="u-Highlight black" title="Navigate back to posts">posts</a>
  </nav>
</header>
