---
import Layout from '../layouts/Layout.astro';
import { formatDistance } from 'date-fns';
import { Image } from '@unpic/astro';

const { content } = Astro.props;
const { title, summary, publish_date, feat_image } = content;

const getMediaFormat = (feat_image) => {
  return feat_image.split('.')[1];
};
---

<Layout>
  <article class="dark:text-zinc-300">
    <header class="flex flex-col">
      <h1
        class="mt-2 text-3xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
      >
        {title}
      </h1>
      <time
        datetime="2022-09-05"
        class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500"
      >
        <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
        ></span>
        <span class="ml-3"
          >{
            formatDistance(new Date(publish_date), new Date(), {
              addSuffix: true,
            })
          }</span
        >
      </time>
    </header>
    <div class="mt-8 prose dark:prose-invert">
      {
        feat_image &&
          (getMediaFormat(feat_image) === 'gif' ? (
            <img
              src={feat_image}
              class="flex rounded-xl overflow-hidden w-full"
            />
          ) : (
            <Image
              src={feat_image}
              alt="A description of my image."
              class="flex rounded-xl overflow-hidden w-full"
            />
          ))
      }
      <div class="my-8">
        <slot />
      </div>
    </div>
  </article>
</Layout>
